<!-- The content below is only a placeholder and can be replaced. -->


<ng-template #fullLoadingTemplate>
  <div class="custom-class">
    <h3 *ngIf="loading">
      Loading...
    </h3>
    <h3>
    </h3>
    <h3>
    </h3>
  </div>
</ng-template>

<ngx-loading [show]="loading" [template]="fullLoadingTemplate"></ngx-loading>

<mat-toolbar color="primary">
  <img src={{crLogo}}>
  <span class="fill-remaining"></span>
  <span>Map Viewer</span>
  <ngx-loading [show]="layersLoading" [config]= "{backdropBackgroundColour: 'rgba(0,0,0,.4)'}" [template]="fullLoadingTemplate"></ngx-loading>
</mat-toolbar>
<mat-divider></mat-divider>
<app-esri-map 
  [center]="mapCenter"
  [basemap]="basemapType"
  [zoom]="mapZoomLevel"
  (mapLoadedEvent)="mapLoadedEvent($event)"
  (layersLoadedEvent)="layersLoadedEvent($event)"
>
</app-esri-map>
<router-outlet></router-outlet>
